@font-face {
	font-family: 'Rammetto One';
	src: url('../fonts/RammettoOne-Regular.woff2') format('woff2'),
		 url('../fonts/RammettoOne-Regular.woff') format('woff'),
		 url('../fonts/RammettoOne-Regular.svg#RammettoOne-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: LatoB;
  src: url('../fonts/lato-bold-webfont.svg') format('svg'),
		 url('../fonts/lato-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: LatoR;
	src: url('../fonts/lato-regular-webfont.svg') format('svg'),
		 url('../fonts/lato-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: Marga;
  src: url('../fonts/magra-bold-webfont.svg') format('svg'),
	  url('../fonts/magra-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: Quicksand;
  src: url('../fonts/quicksand-bold-webfont.svg') format('svg'),
	  url('../fonts/quicksand-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-regular-webfont.svg') format('svg'),
	  url('../fonts/roboto-regular-webfont.woff') format('woff');
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

/* HEADER */

.bg-header {
  background-color: rgba(176, 163, 169, .2);
  border-top: solid 1px rgba(176, 163, 169, .2);
  height: 120px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;
}

.container {
  box-sizing: border-box;
  width: 960px;
  padding: 0 40px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
}

header h1 a{
  font-family: 'Rammetto One';
  font-size: 30px;
  color: #cb3362;
  text-decoration: none;
}

header h1 img {
  position: absolute;
  left: -6px;
  top: -4px;
}
header h1 span {
  color: #c8c10d;
  position: relative;
}

header ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

header>ul {
  float: right;
  margin-bottom: 10px;
}

header>ul>li {
  float: left;
  width: 140px;
}

header ul a {
  color: #7a6666;
  text-transform: uppercase;
  font-size: 15px;
  font-family: LatoR;
  text-decoration: none;
}

header ul a:hover {
  color: #c8c10d;
}

header ul ul.last {
  display: none;
}

header>ul>li:hover ul.last{
  display: block;
}

header ul ul a.active {
   color: #cb3362;
}

/* MAIN */

h2 {
	background-color: #c8c10d;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	font-family: LatoR;
	font-weight: normal;
	margin-bottom: 100px;
}

/* POST */

.post {
	width: 570px;
	padding: 0;
}

.post img {
	width: 100%;
}

h3 {
	font-family: LatoR;
	font-size: 24px;
	color: #cb3362;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: normal;
}

p, p.date {
	color: #7a6666;
	font-family: Roboto;
	font-weight: normal;
}

p {
	font-size: 14px;
	line-height: 20px;
}

.date {
	font-size: 12px;
}

.button {
	width: 160px;
	height: 40px;
	line-height: 40px;
	background-color: #c8c10d;
	padding: 0 22px;
	box-sizing: border-box;
	margin: 90px 0 95px 200px;
}

.button a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: LatoB;
	font-size: 16px;
}

.third-post {
	width: 400px;
}

/* FOOTER */

.bg-footer {
   background-color: #cb3362;
	box-sizing: border-box;
	height: 200px;
   padding: 55px 0;
	width: 100%;
	text-align: center;
}

.bg-footer ul {
	list-style-type: none;
   padding: 0;
}

.bg-footer ul li {
	display: inline-block;
	margin: 0 15px;
}

.bg-footer ul a {
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.bg-footer p {
   font-family: Roboto;
   font-size: 12px;
   color: #fff;
   line-height: 15px;
   margin-top: 30px;
}