table, th, td {
    border: solid 1px #000;
}

table {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

.col-2 {
    background-color: aquamarine;
}

tr td:nth-child(2) {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: pink;
}

tbody tr:first-child {
    background-color: orange;
}

tbody tr:last-child {
    background-color: orangered;
} 

/* body p:first-of-type {
    color: purple;
    font-size: 24px;
    text-align: right;
}

body p:last-of-type {
    color: green;
    font-size: 30px;
font-weight: bold;
}

body p:nth-of-type(4) {
    color: tomato;
    font-size: 60px;
    font-style: italic;
} */

/* TABLE 1 */
/* .table-1, .table-1 td {
    border: solid 2px #000;
}

.table-1 {
    width: 500px;
    height: 150px;
    border-collapse: collapse;
    margin: 0 auto;
} */

/* TABLE 2 */

 /* .table-2, .table-2 td {
    border: solid 2px #000;
}

.table-2 {
    width: 500px;
    height: 150px;
    border-collapse: collapse;
    margin: 0 auto;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
} */

/* TABLE 3 */
/* .table-3, .table-3 td {
    border: solid 2px #000;
}

.table-3 {
    width: 500px;
    height: 300px;
    border-collapse: collapse;
    margin: 0 auto;
}

.td-1 {
    text-align: center;
    vertical-align: bottom;
}

.td-2 {
    text-align: right;
    vertical-align: bottom;
}

.td-3 {
    text-align: center;
    /* vertical-align: middle; 
}

.td-4 {
    text-align: center;
    vertical-align: top;
} */

/* TABLE 4 */

/* table, td, th {
    border: solid 2px #000;
}

table {
    width: 500px;
    height: 150px;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    background-color: pink;
}

thead th:nth-of-type(2) {
    background-color: green;
} */