body {
	margin: 0;
	background-color: #f5f5f5;
	font-family: sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
	display: flex;
}

h1 {
	font-size: 32px;
}

p {
	font-size: 18px;
	text-align: justify;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 20px;
	width: 300px;
	font-size: 20px;
	border-radius: 5px;
	border: solid 1px #37516b;
	background-color: #b0c4df;
}

nav ul li:first-of-type {
	background-color: #37516b;
	color: #fff;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

nav ul li {
	color: #37516b;
	border-bottom: solid 1px #37516b;
	padding: 10px 40px;
}

nav ul li:last-of-type {
	border: none;
}

@media screen and (max-width: 600px) {
	.container {
		width: 600px;
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	nav ul {
		width: 100%;
	}
}