body {
	background-color: #ccc;
}

.slide-show {
	width: 570px;
	height: 270px;
	margin: 0 auto;
	border: solid 20px #fff;
	box-shadow: inset 0px 0px 3px #ccc;
	position: relative;
	overflow: hidden;
}

.sliders {
	width: 1710px;
	height: 270px;
	position: absolute;
	top: 0;
	left: 0;
	animation: slide_animation 10s infinite alternate;
	animation-play-state: running;
}

.sliders:hover {
	animation-play-state: paused;
}

.sliders article {
	position: absolute;
	width: 570px;
	height: 270px;
	top: 0;
	box-shadow: inset 0px 0px 3px #ccc;
}

.sliders article:nth-child(1) {
	left: 0;
}

.sliders article:nth-child(2) {
	left: 570px;
}

.sliders article:nth-child(3) {
	left: 1140px;
}

.sliders article:nth-child(4) {
	left: 1710px;
}

.sliders article:nth-child(5) {
	left: 2280px;
}

.sliders div {
	position: absolute;
	width: 250px;
	background-color: rgba(0, 0, 0, .8);
	color: #fff;
	padding: 10px;
	top: 50px;
	right: 20px;
	text-align: justify;
	box-shadow: 2px 2px 3px black;
}

.sliders .text-2, .sliders .text-4 {
	left: 20px;
	background-color: rgba(225, 225, 225, .8);
	color: #000;
}

@keyframes slide_animation {
	0% {
		left: 0px;
	}
	35% {
		left: 0px;
	}
	40% {
		left: -570px;
	}
	75% {
		left: -570px;
	}
	80% {
		left: -1140px;
	}
	100% {
		left: -1140px;
	}
}

/* @keyframes slide_animation {
	0% {
		left: 0px;
	}
	35% {
		left: 0px;
	}
	40% {
		left: -570px;
	}
	75% {
		left: -570px;
	}
	80% {
		left: -1140px;
	}
	100% {
		left: -1140px;
	}
} */

@keyframes slide_animation {
	0% {
		left: 0px;
	}
	15% {
		left: 0px;
	}
	20% {
		left: -570px;
	}
	35% {
		left: -570px;
	}
	40% {
		left: -1140px;
	}
	55% {
		left: -1140px;
	}
	60% {
		left: -1710px;
	}
	75% {
		left: -1710px;
	}
	80% {
		left: -2280px;
	}
	100% {
		left: -2280px;
	}
}